<div class="jumbotron bg">
  <h1>Welcome <small>to 2game5me</small></h1>
  <p>Preparation for E3 2016 has begun, check back June 14th!</p>
  <p>
    <a class="btn btn-primary btn-lg" href="#" role="button">
      Learn more <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </p>
</div>